@import '../components/type.scss';

// =============================================================================
// ARTICLE OVERVIEW
//
// An article is a preview for a post. It lives inside of a card and can be
// displayed in a grid on the blog landing page, or at the end of a post
// to point users at related content.
//
// =============================================================================

// TODO:
// The first card on the blog page should not display its desc::before element.

.article {
  display: block;
  position: relative;
  padding: 24px;

  @include bp(sm) {
    padding: 32px;
  }
}

.article--large {
  @include bp(md) {
    -webkit-box-align: stretch;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    align-items: flex-start;
    display: grid;
    flex-flow: row wrap;
    grid-column-gap: 0;
    grid-row-gap: 0;
    grid-template-columns: repeat(8, minmax(0,1fr));
    position: relative;
  }
}

.article__cover {
  display: block;
  margin: 32px 0;
}

.article__cover--large {
  margin-top: 48px;

  @include bp(sm) {
    margin-top: 56px; 
  }
  
  @include bp(md) {
    margin: 0;
    border-radius: 6px;
    border: 1px solid #dadce0;
    padding: 32px;
    grid-column-end: span 4;
  }
}

.article__cover--with-image {
  margin: 32px 0;

  @include bp(md) {
    margin-top: -1px;
  }
}

.article__figure {
  padding: 0;
  margin: 0 0 16px;
  background-color: #f3f3f3;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.article__image {
  max-width: 100%;
  min-width: 100%;
}

// card without image is a regular h2
// card with image is an headline--two-small
.article__headline--with-image {
  @extend .headline--two-small;
}

.article__desc {
  display: block;
}

.article__desc::before {
  background-color: #3740FF;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  top: 24px;
  width: 64px;
  z-index: -1;

  @include bp(sm) {
    top: 32px;
  }
}

.article__desc--large {
  margin: 0;
  
  @include bp(md) {
    grid-column-end: span 4;
    padding-left: 32px;
  }
}

.article__info-list {
  margin: 0;
  list-style: none;
  padding: 12px 0 0;
  height: 36px;
  overflow: hidden;
}

.article__desc--large::before,
.article__info-list {
  position: absolute;
  top: 24px;

  @include bp(sm) {
    top: 32px;
  }
  
  @include bp(md) {
    position: static;
  }
}

.article__info-listitem {
  display: block;
  float: left;
  font-family: "Google Sans", san-sans-serif;
  font-size: 12px;
  color: #5F6368;

  @include bp(xsm) {
    font-size: 14px;
  }
}

.article__info-listitem::after {
  content: "·";
  display: inline-block;
  margin: 0 8px;
}

.article__info-listitem--category {
  color: #3740FF;
  font-weight: 500;
}

.article__info-listitem:last-of-type::after {
  content: "";
  margin: 0;
}

.article__info-listitem--published::after {
  content: "";

  @include bp(sm) {
    content: "·";
  }
}

.article__info-listitem--updated {
  display: none;

  @include bp(sm) {
    display: inline-block;
  }
}

.article__summary {
  color: #202124;
}

.article__summary--large {
  margin: 1em 0;
}