@import '../settings/type';
@import '../tools/mixins';

// =============================================================================
// ASIDES OVERVIEW
//
// Using a class here, and applying it to divs instead of following DevSites's
// practice of applying it to aside elements. Using that many <aside>'s muddles
// screen reader landmark navigation.
//
// =============================================================================

$ASIDE_ICON_PADDING_X: 36px;
$ASIDE_MARGIN_Y: 16px;
$ASIDE_PADDING_X: 24px;
$ASIDE_PADDING_Y: 24px;

.aside {
  display: block;
  font-size: $SECONDARY_TEXT_SIZE;
  margin: $ASIDE_MARGIN_Y 0;
  padding: $ASIDE_PADDING_Y $ASIDE_PADDING_X $ASIDE_PADDING_Y ($ASIDE_PADDING_X + $ASIDE_ICON_PADDING_X);

  &--note,
  &--special {
    background: $LIGHT_BLUE_ASIDE;
    border-left: 3px solid $BLUE_A400;
  }

  &--note::before,
  &--special::before {
    content: 'star';
  }

  &--caution {
    background: $LIGHT_ORANGE_ASIDE;
    border-left: 3px solid $ORANGE_600;
  }

  &--caution::before {
    content: 'error';
  }

  &--objective,
  &--success {
    background: $LIGHT_GREEN_ASIDE;
    border-left: 3px solid $GREEN_400;
  }

  &--objective::before {
    content: 'school';
  }

  &--success::before {
    content: 'check_circle';
  }

  &--warning {
    background: $LIGHT_RED_ASIDE;
    border-left: 3px solid $RED_600;
  }

  &--warning::before {
    content: 'warning';
  }
}

.aside::before {
  float: left;
  @include font_material_icon();
  margin-left: -36px;
}

// TODO (robdodson): It would be nice to clean up these bare tags and give
// them BEM classes. Currently we put markdown inside of our asides so we
// would need some sort of custom markdown directive to catch links and
// pre/code tags and give them a class.
.aside pre {
  background: rgba($WHITE, .75);
}

.aside code {
  font-weight: 500;
  padding: 0;
}

.aside strong {
  line-height: $PRIMARY_LINE_HEIGHT;
}
