@import '../settings/colors';

// =============================================================================
// AUTHOR OVERVIEW
//
// An author shows a thumbnail of the author's profile photo, a bit of info
// about the author (name, social media, etc) and shows the date when they
// published the current piece of content.
//
// =============================================================================

.author {
  display: flex;
  padding: 8px;
}

.author__image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 12px 0 0;
  background-color: $GREY_300;
  overflow: hidden;
}

.author__name,
.author__published {
  display: block;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
}

.author__name {
  color: $GREY_900;
}

.author__published {
  color: $GREY_700;
}

.author__link-list {
  display: block;
  overflow: hidden;
  margin: 0;
  list-style: none;
}

.author__link-listitem {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  float: left;
}

.author__link-listitem::after {
  content: "·";
  display: inline-block;
  margin: 0 4px;
}

.author__link-listitem:last-of-type::after {
  content: "";
  margin: 0;
}