@import '../tools/breakpoints';

// =============================================================================
// GRID OVERVIEW
// 
// See content grid design deck:
// https://docs.google.com/presentation/d/1ZQ7pFYje0oHIUs3uv3QmSUmJW4Y9UJnxh3e-x8i4CZE/edit?ts=5c7810bf#slide=id.g4f6a59bd10_2_90
//
// =============================================================================

.grid {
  padding: 0 0 32px;

  @include bp(xxsm) {
    padding: 0 0 64px;
  }

  @include bp(sm) {
    padding: 0 32px 96px;
  }
}

.grid__columns {
  -webkit-box-align: stretch;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  align-items: flex-start;
  display: grid;
  flex-flow: row wrap;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  margin: 0 auto;
  max-width: 512px;
}

.grid__columns--two {
  @include bp(md) {
    grid-template-columns: repeat(8, minmax(0, 1fr));
    max-width: 960px;
  }
}

.grid__columns--three {
  @extend .grid__columns--two;
  @include bp(lg) {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    max-width: 1320px;
  }
}

.grid__item {
  grid-column-end: span 4;
}