// =============================================================================
// TAGS OVERVIEW
//
// Tags are little rounded chips that let the user jump to a subsection
// of related content.
//
// =============================================================================

tags {
  display: block;
  margin-bottom: -12px;
}

tags::after {
  content: "";
  display: block;
  clear: left;
}

tag,
tag a,
.chip {
  display: block;
  box-sizing: border-box;
}

tag {
  float: left;
  margin: 0 8px 12px 0;
}

tag a,
.chip {
  position: relative;
  font-size: 0.875em;
  line-height: 2.15em;
  color: #202124;
  padding: 0 12px;
  background-color: rgba(32, 33, 36, 0);
  border: 1px solid rgba(32, 33, 36, .16);
  border-radius: 20px;
  transition: all .1s;
  overflow: hidden;
}

tag a::after,
.chip::after {
  content: "";
  transition: all .1s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

tag a:hover,
tag a:focus,
tag a:active {
  outline: none;
  text-decoration: none;
  background-color: transparent;
}

tag a:hover,
.chip:hover {
  border: 1px solid rgba(32, 33, 36, .20);
}

tag a:hover::after,
.chip:hover::after {
  background-color: rgba(32, 33, 36, .04);
}

tag a:focus,
.chip:focus {
  border: 1px solid rgba(32, 33, 36, .28);
  outline: none;
}

tag a:focus::after,
.chip:focus::after {
  background-color: rgba(32, 33, 36, .12);
}

tag a:active,
.chip:active {
  border: 1px solid rgba(32, 33, 36, .43);
  box-shadow:
    0 5px 5px -3px rgba(0,0,0,.2),
    0 8px 10px 1px rgba(0,0,0,.14),
    0 3px 14px 2px rgba(0,0,0,.12);
}

tag a:active::after,
.chip:active::after {
  background-color: rgba(0, 0, 0, .16);
}