// fileoverview:
// Styles for links

// Dependencies:
// settings/global.scss
// settings/colors.scss

// link variables
$h-anchor-font-color: $h-color-link-resting !default;
$h-anchor-font-color-hover: $h-color-link-active !default;
$h-anchor-font-color-visited: $h-purple-700 !default;

$h-anchor-text-decoration: none !default;
$h-anchor-text-decoration-hover: none !default;

$h-anchor-font-color-reversed: $h-white !default;
$h-anchor-font-color-reversed-hover: $h-color-primary-black !default;
$h-anchor-font-color-reversed-visited: #CFA6FF !default;

a {
  color: $h-anchor-font-color;
  text-decoration: $h-anchor-text-decoration;

  &:visited {
    color: $h-anchor-font-color-visited;
  }

  &:hover {
    cursor: $h-cursor-pointer-value;
  }

  &:hover,
  &:focus {
    color: $h-anchor-font-color-hover;
    text-decoration: $h-anchor-text-decoration-hover;
  }

  &:focus {
    background: $h-color-focus-background;
    outline: 4px solid $h-color-focus-background-rgba;
  }

  // Override normalize css which disabled outlines. Unfortunately, there's no
  // good way to tell this to reset back to browser default.
  // See cl/156619168
  // https://stackoverflow.com/a/11684199
  // https://stackoverflow.com/a/38571103
  &:active {
    outline: auto 2px Highlight; // Firefox
    outline: auto 5px -webkit-focus-ring-color;
  }

  img {
    border: 0;
  }

  .h-u-font-reversed & {
    color: $h-anchor-font-color-reversed;

    &:visited {
      color: $h-anchor-font-color-reversed-visited;
    }

    &:hover,
    &:focus {
      background: $h-color-focus-background;
      color: $h-anchor-font-color-reversed-hover;
      outline: 4px solid $h-color-focus-background;
    }
  }
}
