@import '../settings/type';
@import '../tools/breakpoints';
@import '../tools/mixins';

// =============================================================================
// LISTS OVERVIEW
//
// List and definition list styles
//
// =============================================================================

// list variables
$LIST_MARGIN_BOTTOM: 20px;
$LIST_STYLE_POSITION: outside;
$LIST_SIDE_MARGIN: 20px;
$LIST_NESTED_MARGIN: 20px;

// definition list variables
$DEFINITION_LIST_HEADER_WEIGHT: 500;
$DEFINITION_LIST_MARGIN_BOTTOM: 12px;

ul,
ol,
dl {
  list-style-position: $LIST_STYLE_POSITION;
  margin-bottom: $LIST_MARGIN_BOTTOM;
}

ul,
ol,
dl,
li {
  &.no-bullet {
    list-style: none;
  }
}

ul,
ol {
  &.no-bullet {
    margin-left: 0;

    html[dir="rtl"] & {
      margin-right: 0;
    }
  }
}

ul {
  margin-left: $LIST_SIDE_MARGIN;

  html[dir="rtl"] & {
    margin-left: 0;
    margin-right: $LIST_SIDE_MARGIN;
  }

  &.inline li {
    display: inline-block;
  }

  li {
    ul {
      margin-bottom: 0;
      margin-left: $LIST_NESTED_MARGIN;

      html[dir="rtl"] & {
        margin-left: 0;
        margin-right: $LIST_NESTED_MARGIN;
      }
    }
  }
}

// Unordered Lists
ul {
  &.square,
  &.circle,
  &.disc {
    li ul {
      list-style: inherit;
    }
  }

  &.square {
    list-style-type: square;
  }

  &.circle {
    list-style-type: circle;
  }

  &.disc {
    list-style-type: disc;
  }
}

// Ordered lists
ol {
  list-style: none;
  padding: 0;
  counter-reset: ol-step-counter;
}

ol li {
  counter-increment: ol-step-counter;
  display: flex;
  margin-bottom: 8px;
}

ol li::before {
  content: counter(ol-step-counter);
  font-size: 12px;
  background: $BLACK;
  color: $WHITE;
  width: 24px;
  height: 24px;
  border-radius: $GLOBAL_ROUNDED;
  margin: 2px 8px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

// Definition Lists
dl {
  dt {
    font-weight: $DEFINITION_LIST_HEADER_WEIGHT;
  }

  dd {
    margin-bottom: $DEFINITION_LIST_MARGIN_BOTTOM;
  }
}

li,
dt,
dd {
  @include font($BODY_MOBILE);
  @include create_margins($BODY_MOBILE);

  @include bp(sm) {
    @include font($BODY_TABLET);
    @include create_margins($BODY_TABLET);
  }

  @include bp(lg) {
    @include font($BODY);
    @include create_margins($BODY);
  }
}
